fastapi
uvicorn[standard]

python-dotenv
pydantic

groq

langchain
langchain-core
langchain-community
langchain-groq

chromadb

sentence-transformers

tiktoken

numpy
pandas

python-multipart

httpx

pypdf

faiss-cpu

duckduckgo-search

beautifulsoup4

lxml

aiofiles